@tailwind base;
@tailwind components;
@tailwind utilities;


/* selected */

::selection {
  color: black;
  background: #cf5487;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: #5d4343;
  margin-top: 10rem; /* pr-3 equivalent */
  margin-bottom: 10rem; /* pr-3 equivalent */
}

::-webkit-scrollbar-thumb {
  background: #cf5487;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(250, 255, 197, 0.8);
}


html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

@font-face {
  font-family: 'AtomicMarker';
  src: url('/fonts/AtomicMarker.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TTTrailers';
  src: url('/fonts/TTTrailers-ExtraBold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tt_trailers';
  src: url('/fonts/TTTrailers-ExtraBold.woff2') format('woff2'),
       url('/fonts/TTTrailers-ExtraBold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@layer base {
  html {
    font-family: 'Azeret Mono', monospace;
  }

}
